:root {
  --dark-blue: #043873;
  --blue: #4f9cf9;
  --yellow: #ffe492;
  --light-blue: #a7cefc;
  --black: #212529;
}

/* Включаем padding и border в общую ширину и высоту элементов, чтобы избежать проблем с размерами при адаптивной вёрстке */

* {
  box-sizing: border-box;
}

/* Устанавливаем базовый размер шрифта на странице*/
html {
  font-size: 18px;
}
/*Устанавливаем основной шрифт на странице(стиль)*/
body {
  font-family:
    "Inter", sans-serif; /* sans-serif - запасной шрифт, на случай, если Inter не загрузится */
  font-size: 1rem; /* Такой же как и размер базового шрифта, но масштабируемый */
  line-height: 1.67; /* межстрочный интервал */
  letter-spacing: -0.02em; /* небольшое сжатие, чтобы буквы стояли плотнее (по макету требуется легкая плотность букв)*/
  margin: 0; /* сброс дефолтных отступов для чистого старта вёрстки */
  padding: 0; /* сброс дефолтных отступов для чистого старта вёрстки */
}

/* Убираем стоящие по умолчанию внешние и внутренние отступы у абзацев и параграфов, чтобы при необходимости установить свои*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem; /* размер в rem, чтобы размер заголовка был пропорционален основному тексту */
  font-weight: 700; /*  жирный шрифт */
}

h2 {
  font-size: 4rem; /* размер в rem, чтобы размер заголовка был пропорционален основному тексту */
  font-weight: 700; /*  жирный шрифт */
}
/* Поля ввода могут не унаследовать шрифт родителя, поэтому задаем в явном виде */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

/*Убираем стили, стоящие по умолчанию у кнопок, добавляем свои, которые у большинства кнопок на сайте*/
button {
  border: none; /* убираем рамку браузера */
  background: var(--blue); /* ставим голубой фон, как у большинства кнопок*/
  padding: 1.1rem 2.2rem; /* устанавливаем внутренние отступы в rem, чтобы они были пропорциональны размеру шрифта */
  margin: 0; /* сброс дефолтных отступов для чистого старта вёрстки */
  font: inherit; /* наследуем шрифт родителя */
  cursor: pointer; /* оставляем понятный курсор */
  outline: none; /* убираем стандартный контур */
  border-radius: 8px; /* скругляем углы */
  color: white; /* цвет текста на кнопке */
}

/* Добавляем фокус-стиль, так как поставили outline:none */
button:focus {
  outline: 2px solid var(--dark-blue);
  outline-offset: 2px;
}
